body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #f9f9f9;
}

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

/* BAGIAN NAVBAR */
.container {
   width: 100%;
   margin: 0;
   padding: 0;
   background: #f8f6f6;
}

/* navigasi atas */
.logo {
  padding: 14px 16px;
}

.navbar {
  background: #f9f9f9;
  width: 100%;
  top: 0;
  box-shadow: 0 2px 5px rgb(0,0,0,0.1);
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  z-index: 1000;
}

  /* ul dalam navigasi */
  .nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }

  /* li dalam navigasi */
  .nav-menu li {
    margin-right: 20px;
  }
  
  /* link a di navigasi */
  .navbar li a {
    display: inline-block;
    color: #0b0b0b;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* hover navbar */
  .navbar li a:hover {
    color: black;
  }

  /* bagian login-signup */
  .nav-right {
    display: flex;
    align-items: center;
  }

  .login-button {
    background-color: #f2f2f2; 
    color: #FB70AA;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 10px;
    transition: background-color 0.3s ease;
  }

  .login-button:hover {
    background-color: #acbcf8; 
  }
  
  .signup-button {
    background-color: #FB70AA;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }

  .signup-button:hover {
    background-color: #acbcf8;
    text-decoration: none;
  }

  

/* BAGIAN TAMPILAN */

.header {
    text-align: center;
    padding-top: 60px;
    background: #f9f9f9;
    border-radius: 10px;
    margin-bottom: 20px;
}

.header .highlight {
    color: #8f9dcf;
}

.header h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.header h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.header p {
    font-size: 16px;
    color: #666;
    margin-bottom: 30px;
}

.header .illustration {
    max-width: 50%;
    height: auto;
    padding: 20px;
}



/* BAGIAN BANNER */
.banner {
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.banner img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.swiper-container {
  overflow: hidden;
  width: 80%;
  margin: 50px auto;
  position: relative;
}

.swiper-slide {
  text-align: center;
}

.swiper-pagination {
  display: flex;
  justify-content: center;
}

.swiper-pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: #bbb;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background-color: #500af4;
}


/* Desktop styles */
@media (min-width: 768px) {
  .swiper-container {
    width: 60%;
  }

  .banner {
    padding: 30px;
  }
}

/* Mobile styles */
@media (max-width: 767px) {
  .swiper-container {
    width: 90%;
  }

  .banner {
    padding: 20px;
  }
}

/* BAGIAN KURSUS, SERTIF, MENTOR */

.features {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.feature-item {
    text-align: center;
    width: 30%;
}

.feature-item .icon {
    font-size: 40px;
    margin-bottom: 10px;
}

.feature-item h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.feature-item p {
    font-size: 14px;
    color: #666;
}

/* BAGIAN TESTIMONI */

  .testimonial-container {
    max-width: 800px;
    margin: 100px auto;
    padding: 50px 100px;
    background-image: linear-gradient(#b0c1e4, #ffff);
    border-radius: 10px;
}

.testimonial-container h2 {
    text-align: center;
    color: #000000;
    font-size: 20px;
    padding-bottom: 50px;
}

.lapisan_testi {
  background-color: #f8f9fb;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  
}

.testimonial-slider {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.testimonial {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    color: #000000;
    box-shadow: 0 1px 1px rgb(0, 0, 0.1);
}

.username {
  font-size: 12px;
}

.testimonial p {
    font-size: 12px;
    line-height: 1;
}

/* bagian dot */
.dot-container {
    text-align: center;
    margin-top: 20px;
}

.dot {
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: #93b6d0;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.active-dot {
    background-color: #f8f6f6;
}

/* dalam card */

.text_courses,h2{
  padding-left: 20px;
  padding-top: 20px;
}

.text_courses,p{
  padding-left: 20px;
  padding-bottom:10px ;
}

  .discounted {
    color: red;
    text-decoration: line-through;
  }

  .course-cards {
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    grid-gap: 1px;
    justify-content: center;
    margin: 1rem;
  }
  
/* bagian pop up */

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Form Login */
.container-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  display: flex;
  max-width: 850px;
  
  border-radius: 15px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.login {
  width: 400px;
}

form {
  width: 250px;
  margin: 60px auto;
}

.text-login {
  text-align: center;
  font-weight: bolder;
  text-transform: uppercase;
}

hr {
  border-top: 2px solid #f0a5b4;
}

.masuk-login {
  text-align: center;
  margin: 10px;
}

.right img {
  width: 450px;
  height: 100%;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

form label {
  display: block;
  font-size: 16px;
  font-weight: 600;
  padding: 5px;
}

input {
  width: 100%;
  margin: 2px;
  border: none;
  outline: none;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid gray;
}

button {
  border: none;
  outline: none;
  padding: 8px;
  width: 252px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
  background:#3F69FF;
}

button:hover {
  background: rgb(175, 157, 242);
}


  /* bagian card nya */
  .card {
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 1rem;
    width: calc(33.333% - 2rem);
    text-align: center;
    padding: 1rem;
    transition: transform 0.3s ease-in-out;
    width: 250px;
    height: 360px;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .card img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 1rem;
  }
  
  .card h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .card p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  
  .card button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .card button:hover {
    background-color: #444;
  }

  /* BERITA */

  .container-berita {
    max-width: 1200px;
    margin: 0 auto;
}

h4 {
    text-align: center;
    font-size: 24px;
    padding-bottom: 70px;
}

.main-content {
    display: flex;
    justify-content: space-between;
}

.featured-news {
    flex: 2;
    display: flex;
}

.featured-news img {
    width: 300px;
    height: 250px;
    margin-right: 50px;
}

.news-info {
    max-width: 500px;
}

.news-info .author {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 10px;
}

.news-info .author img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.news-info .author span {
    color: rgb(8, 8, 8);
}

.news-info h2 {
    font-size: 18px;
    margin: 10px 0;
}

.news-info p {
    font-size: 16px;
    color: #555;
}

.latest-news {
    flex: 1;
    margin-left: 20px;
}

.latest-news .header-berita {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.latest-news .header-berita h3 {
    font-size: 18px;
    margin: 0;
}

.latest-news .header-berita a {
    font-size: 14px;
    color: #000;
    text-decoration: none;
}

.news-list {
    margin-top: 20px;
}

.news-item {
    display: flex;
    margin-bottom: 20px;
}

.news-image {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.news-text p {
    font-size: 14px;
    margin: 0;
}

.news-text a {
    font-size: 14px;
    color: red;
    text-decoration: none;
}

/* BAGIAN FOOTER */
.footer {
  background-color: #b0c1e4;
  color: #0e0e0e;
  padding: 20px 0;
  text-align: center;
}

.footer h4 {
  font-size: 16px;
  color: #090909;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer ul li a {
  color: #565555;
  text-decoration: none;
  transition: color 0.3s;
}

.footer ul li a:hover {
  color: #1a73e8;
}

.footer .social-links a {
  display: inline-block;
  margin: 0 10px;
  color: #504f4f;
  font-size: 20px;
  transition: color 0.3s;
}

.footer .social-links a:hover {
  color: #1a73e8;
}

.copp p {
  margin: 20px 0 0;
  font-size: 14px;
  color: #0a0909;
}

.container_footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.footer-col {
  flex: 1 1 200px;
  margin: 10px;
}
  

/* BAGIAN MEDIA SCREEN */

  @media (max-width: 768px) {
    .card {
      width: calc(100% - 2rem);   
    }
  }
  
  @media (max-width: 480px) {
    .card {
      width: 100%;
    }
  }

  /* bagian testimoni */
  @media only screen and (max-width: 768px) {
    .testimonial-slider {
        grid-template-columns: repeat(3, 1fr);
        padding: 10px;
        margin: 15px;
    }
}

@media only screen and (max-width: 480px) {
    .testimonial-slider {
        grid-template-columns: 1fr;
    }
}
